# 1. Import libraries

In [1]:
import pandas as pd

# 2. Load data

In [2]:
dataset = pd.read_csv('../data/prepared_data.csv')

# set the column type for column with date
dataset['Data'] = pd.to_datetime(dataset['Data'], format='%Y-%m-%d')

dataset

,Data,GŁOGÓW (151160060) Stan wody [cm],RACIBÓRZ-MIEDONIA (150180060) Stan wody [cm],BARDO ŚLĄSKIE (250160410) Suma opadów [mm],BIERUTÓW (251170270) Suma opadów [mm],BOLESŁAWÓW (250160610) Suma opadów [mm],BOLKÓW (250160030) Suma opadów [mm],BORÓW (250160070) Suma opadów [mm],BRZEG (250170050) Suma opadów [mm],BRZEG DOLNY (251160230) Suma opadów [mm],CHWAŁKOWICE (251160170) Suma opadów [mm],GŁOGÓW (151160060) Suma opadów [mm],RACIBÓRZ-MIEDONIA (150180060) Suma opadów [mm]
0,2011-01-01,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
1,2011-01-02,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
2,2011-01-03,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
3,2011-01-04,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
4,2011-01-05,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378,2022-12-27,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0
4379,2022-12-28,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0
4380,2022-12-29,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0
4381,2022-12-30,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0
4382,2022-12-31,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0

In [18]:
cities = dataset.filter(regex="Stan wody").columns
cities = [city_name for city_name in cities]
cities

['GŁOGÓW (151160060) Stan wody [cm]',
 'RACIBÓRZ-MIEDONIA (150180060) Stan wody [cm]']

# 3. EDA

Poziom rzeki w czasie z uwzględnieniem sumy opadów dla tej stacji.

Poziom rzeki w czasie dla różnych stacji.

Jak zmienia się poziom rzeki w kolejnych latach.

Sezonowość / Trend

Cross-correlation ~ poziomy rzeki w różnych stacjach

Cross-correlation ~ poziomy rzeki w stacji a przeszłe opady.

SPRAWDZIĆ DLA JAKIŚ problemów z domeny prognozowania poziomu wody w rzece.