# 1. Import libraries

In [1]:
import numpy as np
import pandas as pd

import os

In [2]:
water_directory = '../data/imgw/stan_wody'
rain_directory = '../data/imgw/opady'

# 2. Load data

## 2.0 Hierarchy

In [3]:
hierarchy = pd.read_excel('../data/hierarchy.xlsx')
hierarchy.rename({'meteo - id': 'id_meteo', 'meteo - nazwa': 'name_meteo', 
                  'hydro - id': 'id_hydro', 'hydro - nazwa': 'name_hydro',
                  'cz-ta-sama-lokalizacja': 'the_same_location'}, axis=1, inplace=True)
hierarchy['id_meteo'] = hierarchy['id_meteo'].fillna(0).astype(int)
hierarchy['id_hydro'] = hierarchy['id_hydro'].fillna(0).astype(int)
hierarchy['the_same_location'] = hierarchy['the_same_location'].replace({'tak': 1, 'nie': 0})

hierarchy

,id_meteo,name_meteo,id_hydro,name_hydro,the_same_location
0,251160360,GŁOGÓW,151160060,GŁOGÓW,1
1,249180550,CIESZYN,149180060,CIESZYN,1
2,249180550,CIESZYN,149180070,CIESZYN,1
3,249180550,CIESZYN,149180030,ŁAZISKA,0
4,249180550,CIESZYN,149180020,CHAŁUPKI,0
...,...,...,...,...,...
87,250160650,MIĘDZYLESIE,150160190,MIĘDZYLESIE,1
88,250160520,LĄDEK-ZDRÓJ,150160230,LĄDEK-ZDRÓJ,1
89,350160520,KŁODZKO,150160110,SZALEJÓW DOLNY,0
90,250160840,SZALEJÓW GÓRNY,150160080,TŁUMACZÓW,0
91,250160510,OŁDRZYCHOWICE KŁODZKIE,150160200,ŻELAZNO,1

## 2.1 stan wody

In [4]:
raw_water_level = pd.DataFrame()

for water_period in os.listdir(water_directory):
    water_period_df = pd.read_csv(os.path.join(water_directory, water_period), encoding = "ISO-8859-1", header=None)
    raw_water_level = pd.concat([raw_water_level, water_period_df], axis=0)
    
raw_water_level.reset_index(drop=True, inplace=True)
raw_water_level

,0,1,2,3,4,5,6,7,8,9
0,149180020,CHA£UPKI,Odra (1),2018,1,1,191,76.70,99.9,11
1,149180020,CHA£UPKI,Odra (1),2018,1,2,176,65.30,99.9,11
2,149180020,CHA£UPKI,Odra (1),2018,1,3,163,55.70,99.9,11
3,149180020,CHA£UPKI,Odra (1),2018,1,4,152,48.00,99.9,11
4,149180020,CHA£UPKI,Odra (1),2018,1,5,143,42.40,99.9,11
...,...,...,...,...,...,...,...,...,...,...
1214483,149190250,JAB£ONKA,Piekielnik (82224),2021,12,27,141,0.27,99.9,10
1214484,149190250,JAB£ONKA,Piekielnik (82224),2021,12,28,141,0.28,99.9,10
1214485,149190250,JAB£ONKA,Piekielnik (82224),2021,12,29,141,0.28,99.9,10
1214486,149190250,JAB£ONKA,Piekielnik (82224),2021,12,30,141,0.29,99.9,10
1214487,149190250,JAB£ONKA,Piekielnik (82224),2021,12,31,141,0.28,99.9,10

## 2.2 opady

In [5]:
raw_rain_level = pd.DataFrame()

for rain_period in os.listdir(rain_directory):    
    rain_period_df = pd.read_csv(os.path.join(rain_directory, rain_period), encoding = "ISO-8859-1", header=None)
    raw_rain_level = pd.concat([raw_rain_level, rain_period_df], axis=0)
    
raw_rain_level.reset_index(drop=True, inplace=True)
raw_rain_level

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,249180020,WARSZOWICE,2017,1,2,3.6,NaN,S,0,9.0,0,9.0,NaN,9.0,.,NaN
1,249180020,WARSZOWICE,2017,1,3,4.8,NaN,S,2,NaN,2,NaN,1.0,NaN,*,NaN
2,249180020,WARSZOWICE,2017,1,4,1.8,NaN,S,10,NaN,9,NaN,1.0,NaN,*,NaN
3,249180020,WARSZOWICE,2017,1,5,1.0,NaN,S,11,NaN,2,NaN,1.0,NaN,*,NaN
4,249180020,WARSZOWICE,2017,1,6,0.0,9.0,NaN,11,NaN,0,9.0,1.0,NaN,*,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648502,254230020,SEJNY,2021,12,27,0.0,9.0,NaN,7,NaN,2,NaN,3.0,NaN,*,NaN
648503,254230020,SEJNY,2021,12,28,0.6,NaN,S,6,NaN,0,9.0,3.0,NaN,*,NaN
648504,254230020,SEJNY,2021,12,29,0.2,NaN,S,5,NaN,0,9.0,3.0,NaN,*,NaN
648505,254230020,SEJNY,2021,12,30,1.5,NaN,S,4,NaN,1,NaN,3.0,NaN,*,NaN
648506,254230020,SEJNY,2021,12,31,6.8,NaN,W,2,NaN,0,9.0,5.0,NaN,*,NaN

# 3. Data Preprocessing

## 3.1 stan wody

In [6]:
def add_corect_year(row):
    year = row['Rok_hydrologiczny']
    if row['miesiąc']>=11:
        year = year - 1
    return year

In [7]:
raw_water_level_prepared = raw_water_level.copy()

# rename columns
water_renaming_cols = {0: 'id_hydro', 2: 'Rzeka', 3: 'Rok_hydrologiczny', 5: 'Dzień_tygodnia', 
                       6: 'Stan wody [cm]', 9: 'miesiąc'}
raw_water_level_prepared = raw_water_level_prepared[water_renaming_cols.keys()]
raw_water_level_prepared.rename(water_renaming_cols, axis=1, inplace=True)
raw_water_level_prepared = pd.merge(raw_water_level_prepared, hierarchy[['id_hydro', 'name_hydro']],
                                    on=['id_hydro'], how='inner')

# take unique ID from hydro
ids_hydro = raw_water_level_prepared['id_hydro'].unique()

# Change type of col with level of water
raw_water_level_prepared['Stan wody [cm]'] = raw_water_level_prepared['Stan wody [cm]'].astype(int)

# Add correct year
raw_water_level_prepared['Rok'] = raw_water_level_prepared.apply(add_corect_year, axis=1)

# Create variable with a date
raw_water_level_prepared['Dzień_tygodnia'] = raw_water_level_prepared['Dzień_tygodnia'].astype(str)
raw_water_level_prepared['Dzień_tygodnia'] = raw_water_level_prepared['Dzień_tygodnia'].apply(lambda x: x.zfill(2))
raw_water_level_prepared['Data'] = raw_water_level_prepared['Rok'].astype(str) + '-' \
                                    + raw_water_level_prepared['miesiąc'].astype(str) + '-'\
                                    + raw_water_level_prepared['Dzień_tygodnia'].astype(str)
raw_water_level_prepared['Data'] = pd.to_datetime(raw_water_level_prepared['Data'], format='%Y-%m-%d')

# connect ID and Location
raw_water_level_prepared['name_hydro_Id'] = raw_water_level_prepared['name_hydro'].astype(str) + \
    ' (' + raw_water_level_prepared['id_hydro'].astype(str) + ')'

# Create pivot table
raw_water_level_prepared = raw_water_level_prepared.pivot(index='Data', columns='name_hydro_Id', values='Stan wody [cm]')

raw_water_level_prepared.columns = [f'{col} Stan wody [cm]' for col in raw_water_level_prepared.columns]
raw_water_level_prepared.reset_index(inplace=True)

###################################### Remove outliers ~ example
raw_water_level_prepared.loc[(raw_water_level_prepared.filter(regex=('Stan wody')) > 1000).any(axis=1), 
                             'RACŁAWICE-ŚLĄSKIE (150170180) Stan wody [cm]'] = np.nan
raw_water_level_prepared = raw_water_level_prepared.ffill()
###############################################################

raw_water_level_prepared

,Data,BARDO (150160220) Stan wody [cm],BIAŁOBRZEZIE (150160250) Stan wody [cm],BOGDAJ (151170060) Stan wody [cm],BOGDASZOWICE (151160180) Stan wody [cm],BOJANÓW (150180040) Stan wody [cm],BORÓW (150160280) Stan wody [cm],BRANICE (150170170) Stan wody [cm],BRZEG (150170090) Stan wody [cm],BRZEG DOLNY (151160170) Stan wody [cm],...,WILKANÓW (150160210) Stan wody [cm],WINNICA (151160070) Stan wody [cm],ZAGRODNO (151150160) Stan wody [cm],ZBYTOWA (151170050) Stan wody [cm],ŁAZISKA (149180030) Stan wody [cm],ŁAŻANY (150160090) Stan wody [cm],ŁĄKI (151170040) Stan wody [cm],ŚCINAWA (151160130) Stan wody [cm],ŚLĘZA (151160230) Stan wody [cm],ŻELAZNO (150160200) Stan wody [cm]
0,2017-11-01,100.0,57.0,291.0,91.0,64.0,153.0,167.0,251.0,286.0,...,90.0,40.0,97.0,307.0,176.0,103.0,265.0,267.0,218.0,60.0
1,2017-11-02,95.0,55.0,285.0,89.0,64.0,145.0,167.0,239.0,285.0,...,89.0,40.0,95.0,330.0,168.0,102.0,275.0,251.0,214.0,61.0
2,2017-11-03,93.0,54.0,290.0,87.0,65.0,139.0,170.0,224.0,258.0,...,89.0,40.0,94.0,335.0,172.0,102.0,288.0,260.0,210.0,60.0
3,2017-11-04,90.0,55.0,296.0,86.0,63.0,136.0,163.0,226.0,218.0,...,88.0,40.0,93.0,338.0,167.0,101.0,290.0,213.0,207.0,59.0
4,2017-11-05,88.0,53.0,291.0,86.0,62.0,133.0,160.0,215.0,244.0,...,88.0,40.0,92.0,335.0,159.0,101.0,290.0,216.0,205.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2021-10-27,67.0,50.0,219.0,71.0,55.0,86.0,161.0,175.0,322.0,...,82.0,35.0,85.0,258.0,116.0,100.0,156.0,112.0,206.0,54.0
1457,2021-10-28,67.0,50.0,221.0,71.0,57.0,86.0,161.0,170.0,317.0,...,83.0,34.0,84.0,259.0,117.0,100.0,156.0,95.0,206.0,54.0
1458,2021-10-29,67.0,50.0,219.0,71.0,54.0,85.0,161.0,170.0,317.0,...,83.0,34.0,85.0,262.0,117.0,99.0,154.0,89.0,207.0,54.0
1459,2021-10-30,66.0,52.0,215.0,70.0,55.0,86.0,161.0,169.0,316.0,...,83.0,34.0,84.0,257.0,115.0,99.0,156.0,92.0,206.0,54.0
1460,2021-10-31,66.0,50.0,211.0,70.0,56.0,87.0,160.0,168.0,316.0,...,83.0,34.0,84.0,249.0,114.0,99.0,148.0,86.0,207.0,53.0

## 3.2 opady

In [8]:
def weather_no_info(x):
    if x == 8:
        return 1
    else:
        return 0

In [9]:
raw_rain_level_prepared = raw_rain_level.copy()

# rename columns
rain_renaming_cols = {0: 'id_meteo', 2: 'Rok', 3: 'miesiąc', 4: 'Dzień_tygodnia', 
                      5: 'Suma opadów [mm]', 6: 'Brak pomiaru'}
raw_rain_level_prepared = raw_rain_level_prepared[rain_renaming_cols.keys()]
raw_rain_level_prepared.rename(rain_renaming_cols, axis=1, inplace=True)
raw_rain_level_prepared = pd.merge(raw_rain_level_prepared, hierarchy[['id_meteo', 'name_meteo']].drop_duplicates(),
                                   on=['id_meteo'], how='inner')

ids_meteo = raw_rain_level_prepared['id_meteo'].unique()

# set info about lack of measurments
raw_rain_level_prepared['Brak pomiaru'] = raw_rain_level_prepared['Brak pomiaru'].apply(weather_no_info)

# Create variable with a date
raw_rain_level_prepared['Dzień_tygodnia'] = raw_rain_level_prepared['Dzień_tygodnia'].astype(str)
raw_rain_level_prepared['Dzień_tygodnia'] = raw_rain_level_prepared['Dzień_tygodnia'].apply(lambda x: x.zfill(2))
raw_rain_level_prepared['Data'] = raw_rain_level_prepared['Rok'].astype(str) + '-' \
                                    + raw_rain_level_prepared['miesiąc'].astype(str) + '-'\
                                    + raw_rain_level_prepared['Dzień_tygodnia'].astype(str)
raw_rain_level_prepared['Data'] = pd.to_datetime(raw_rain_level_prepared['Data'], format='%Y-%m-%d')

# connect ID and Location
raw_rain_level_prepared['name_meteo_Id'] = raw_rain_level_prepared['name_meteo'].astype(str) + \
    ' (' + raw_rain_level_prepared['id_meteo'].astype(str) + ')'

# first value:
print('First value:')
display(raw_rain_level_prepared.groupby(['name_meteo_Id'])[['Data']].min().sort_values(by=['Data']))

# Create pivot table
raw_rain_level_prepared = raw_rain_level_prepared.pivot(index='Data', columns='name_meteo_Id', values=['Suma opadów [mm]', 
                                                                                                        'Brak pomiaru'])

raw_rain_level_prepared.columns = [f'{multiindex[1]} {multiindex[0]}' for multiindex in raw_rain_level_prepared.columns]

# add missing dates
rain_dates = pd.date_range(start=raw_rain_level_prepared.index.min(), end=raw_rain_level_prepared.index.max(), freq='1D')
raw_rain_level_prepared = raw_rain_level_prepared.reindex(rain_dates)

# Fill missing values
# rainings
for city_id in raw_rain_level_prepared.filter(regex=("Suma opadów")).columns:
    first_date = raw_rain_level_prepared.loc[~pd.isnull(raw_rain_level_prepared[city_id]), :].index.min()
    raw_rain_level_prepared.loc[pd.isnull(raw_rain_level_prepared[city_id])&(raw_rain_level_prepared.index>=first_date), 
                                city_id] = 0
# without measurments
raw_rain_level_prepared.loc[:, raw_rain_level_prepared.filter(regex=("Brak pomiaru")).columns] = raw_rain_level_prepared.loc[:,
                                                 raw_rain_level_prepared.filter(regex=("Brak pomiaru")).columns].fillna(0)


raw_rain_level_prepared.reset_index(inplace=True)
raw_rain_level_prepared.rename({'index': 'Data'}, axis=1, inplace=True)
raw_rain_level_prepared

First value:

                                         Data
name_meteo_Id
TWARDOCICE (251150280)             2017-01-01
OSETNO (251160110)                 2017-01-01
BARDO (250160410)                  2017-01-02
WALIM (250160270)                  2017-01-02
SZCZAWNO-ZDRÓJ (250160130)         2017-01-02
SZALEJÓW GÓRNY (250160840)         2017-01-02
SUKOWICE (250180330)               2017-01-02
STARE OLESNO (250180030)           2017-01-02
PSZENNO (250160090)                2017-01-02
OŁDRZYCHOWICE KŁODZKIE (250160510) 2017-01-02
NAMYSŁÓW (251170290)               2017-01-02
MIĘDZYLESIE (250160650)            2017-01-02
MILICZ (251170140)                 2017-01-02
LĄDEK-ZDRÓJ (250160520)            2017-01-02
ŁABĘDY (250180330)                 2017-01-02
KRUPSKI MŁYN (250180190)           2017-01-02
LUBACHÓW (250160170)               2017-01-02
JELCZ-LASKOWICE (251170320)        2017-01-02
JAWOR (251160290)                  2017-01-02
JARNOŁTÓWEK (250170340)            2017-01-02
GŁUCHOŁAZY (250170330)             2017-01-02
GŁUBCZYCE (250170390)              2017-01-02
GRABOWNICA (251170150)             2017-01-02
BIERUTÓW (251170270)               2017-01-02
DŁUGOPOLE-ZDRÓJ (250160590)        2017-01-02
BORÓW (250160070)                  2017-01-02
DZIERŻONIÓW (250160260)            2017-01-02
KOPICE (250170730)                 2018-01-02
KSIĘGINICE (251170390)             2019-01-01
LIGOTA GÓRNA (250180230)           2019-06-02
NYSA (250170230)                   2019-06-05
ODOLANÓW (251170130)               2019-06-05
ZIELINA (250170280)                2019-06-06
PRUDNIK (250170530)                2019-06-06
RACŁAWICE ŚLĄSKIE (250170540)      2019-06-06
KĄTY WROCŁAWSKIE (251160310)       2019-06-06
ŁANY (251170420)                   2019-06-06
BRZEG DOLNY (251160230)            2019-06-08
BRZEG (250170050)                  2019-06-08
RUDNA (251160140)                  2019-06-15
CIESZYN (249180550)                2019-07-01
GOŚCIEJOWICE (250170760)           2020-03-01

,Data,BARDO (250160410) Suma opadów [mm],BIERUTÓW (251170270) Suma opadów [mm],BORÓW (250160070) Suma opadów [mm],BRZEG (250170050) Suma opadów [mm],BRZEG DOLNY (251160230) Suma opadów [mm],CIESZYN (249180550) Suma opadów [mm],DZIERŻONIÓW (250160260) Suma opadów [mm],DŁUGOPOLE-ZDRÓJ (250160590) Suma opadów [mm],GOŚCIEJOWICE (250170760) Suma opadów [mm],...,RUDNA (251160140) Brak pomiaru,STARE OLESNO (250180030) Brak pomiaru,SUKOWICE (250180330) Brak pomiaru,SZALEJÓW GÓRNY (250160840) Brak pomiaru,SZCZAWNO-ZDRÓJ (250160130) Brak pomiaru,TWARDOCICE (251150280) Brak pomiaru,WALIM (250160270) Brak pomiaru,ZIELINA (250170280) Brak pomiaru,ŁABĘDY (250180330) Brak pomiaru,ŁANY (251170420) Brak pomiaru
0,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2017-01-02,3.1,2.5,1.9,NaN,NaN,NaN,0.8,1.6,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-01-03,1.8,6.4,0.7,NaN,NaN,NaN,0.0,2.3,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2017-01-04,1.0,1.3,2.8,NaN,NaN,NaN,1.2,5.3,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2017-01-05,1.7,2.1,0.1,NaN,NaN,NaN,0.0,0.6,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,2022-11-25,0.1,0.7,3.3,2.0,2.1,0.0,1.7,0.0,0.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2155,2022-11-26,3.4,1.2,4.6,3.3,6.0,3.2,7.1,0.6,5.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2156,2022-11-27,0.5,0.0,1.0,0.0,2.1,0.3,0.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2157,2022-11-28,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2158,2022-11-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 3.3 Merge

In [10]:
prepared_dataset = pd.merge(raw_water_level_prepared, raw_rain_level_prepared, how='left', on='Data')

prepared_dataset

,Data,BARDO (150160220) Stan wody [cm],BIAŁOBRZEZIE (150160250) Stan wody [cm],BOGDAJ (151170060) Stan wody [cm],BOGDASZOWICE (151160180) Stan wody [cm],BOJANÓW (150180040) Stan wody [cm],BORÓW (150160280) Stan wody [cm],BRANICE (150170170) Stan wody [cm],BRZEG (150170090) Stan wody [cm],BRZEG DOLNY (151160170) Stan wody [cm],...,RUDNA (251160140) Brak pomiaru,STARE OLESNO (250180030) Brak pomiaru,SUKOWICE (250180330) Brak pomiaru,SZALEJÓW GÓRNY (250160840) Brak pomiaru,SZCZAWNO-ZDRÓJ (250160130) Brak pomiaru,TWARDOCICE (251150280) Brak pomiaru,WALIM (250160270) Brak pomiaru,ZIELINA (250170280) Brak pomiaru,ŁABĘDY (250180330) Brak pomiaru,ŁANY (251170420) Brak pomiaru
0,2017-11-01,100.0,57.0,291.0,91.0,64.0,153.0,167.0,251.0,286.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2017-11-02,95.0,55.0,285.0,89.0,64.0,145.0,167.0,239.0,285.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2017-11-03,93.0,54.0,290.0,87.0,65.0,139.0,170.0,224.0,258.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2017-11-04,90.0,55.0,296.0,86.0,63.0,136.0,163.0,226.0,218.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2017-11-05,88.0,53.0,291.0,86.0,62.0,133.0,160.0,215.0,244.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2021-10-27,67.0,50.0,219.0,71.0,55.0,86.0,161.0,175.0,322.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1457,2021-10-28,67.0,50.0,221.0,71.0,57.0,86.0,161.0,170.0,317.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1458,2021-10-29,67.0,50.0,219.0,71.0,54.0,85.0,161.0,170.0,317.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1459,2021-10-30,66.0,52.0,215.0,70.0,55.0,86.0,161.0,169.0,316.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1460,2021-10-31,66.0,50.0,211.0,70.0,56.0,87.0,160.0,168.0,316.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
prepared_hierarchy = hierarchy.loc[hierarchy['id_hydro'].isin(ids_hydro), :].copy()
# info where we have meteo or not
prepared_hierarchy.loc[~prepared_hierarchy['id_meteo'].isin(ids_meteo), 'id_meteo'] = 0

prepared_hierarchy.reset_index(drop=True, inplace=True)
prepared_hierarchy

,id_meteo,name_meteo,id_hydro,name_hydro,the_same_location
0,0,GŁOGÓW,151160060,GŁOGÓW,1
1,249180550,CIESZYN,149180060,CIESZYN,1
2,249180550,CIESZYN,149180070,CIESZYN,1
3,249180550,CIESZYN,149180030,ŁAZISKA,0
4,249180550,CIESZYN,149180020,CHAŁUPKI,0
...,...,...,...,...,...
84,250160650,MIĘDZYLESIE,150160190,MIĘDZYLESIE,1
85,250160520,LĄDEK-ZDRÓJ,150160230,LĄDEK-ZDRÓJ,1
86,0,KŁODZKO,150160110,SZALEJÓW DOLNY,0
87,250160840,SZALEJÓW GÓRNY,150160080,TŁUMACZÓW,0
88,250160510,OŁDRZYCHOWICE KŁODZKIE,150160200,ŻELAZNO,1

In [12]:
print('Unique meteo stations: ')
prepared_hierarchy.loc[prepared_hierarchy['id_meteo']!=0, :]

Unique meteo stations:

,id_meteo,name_meteo,id_hydro,name_hydro,the_same_location
1,249180550,CIESZYN,149180060,CIESZYN,1
2,249180550,CIESZYN,149180070,CIESZYN,1
3,249180550,CIESZYN,149180030,ŁAZISKA,0
4,249180550,CIESZYN,149180020,CHAŁUPKI,0
12,250180330,ŁABĘDY,150180220,GLIWICE,1
...,...,...,...,...,...
83,250160590,DŁUGOPOLE-ZDRÓJ,150160210,WILKANÓW,1
84,250160650,MIĘDZYLESIE,150160190,MIĘDZYLESIE,1
85,250160520,LĄDEK-ZDRÓJ,150160230,LĄDEK-ZDRÓJ,1
87,250160840,SZALEJÓW GÓRNY,150160080,TŁUMACZÓW,0
88,250160510,OŁDRZYCHOWICE KŁODZKIE,150160200,ŻELAZNO,1

# 4. Save data

In [13]:
prepared_dataset.to_csv('../results/prepared_data.csv', index=False)
prepared_hierarchy.to_csv('../results/prepared_hierarchy.csv', index=False)