# 1. Import libraries

In [1]:
# data manipulation
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# 2. Load data

In [2]:
dataset = pd.read_csv('../results/prepared_data.csv')

# set the column type for column with date
dataset['Data'] = pd.to_datetime(dataset['Data'], format='%Y-%m-%d')

dataset

,Data,GŁOGÓW (151160060) Stan wody [cm],RACIBÓRZ-MIEDONIA (150180060) Stan wody [cm],BARDO ŚLĄSKIE (250160410) Suma opadów [mm],BIERUTÓW (251170270) Suma opadów [mm],BOLESŁAWÓW (250160610) Suma opadów [mm],BOLKÓW (250160030) Suma opadów [mm],BORÓW (250160070) Suma opadów [mm],BRZEG (250170050) Suma opadów [mm],BRZEG DOLNY (251160230) Suma opadów [mm],CHWAŁKOWICE (251160170) Suma opadów [mm],GŁOGÓW (151160060) Suma opadów [mm],RACIBÓRZ-MIEDONIA (150180060) Suma opadów [mm]
0,2011-01-01,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
1,2011-01-02,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
2,2011-01-03,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
3,2011-01-04,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
4,2011-01-05,199.0,118.0,0.2,0.5,0.5,0.7,0.2,0.05,0.8,0.8,0.2,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4398,2023-01-16,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0
4399,2023-01-17,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0
4400,2023-01-18,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0
4401,2023-01-19,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0
4402,2023-01-20,203.0,114.0,3.8,6.8,2.0,4.7,4.8,1.70,5.1,5.2,3.8,2.0

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4403 entries, 0 to 4402
Data columns (total 13 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Data                                            4403 non-null   datetime64[ns]
 1   GŁOGÓW (151160060) Stan wody [cm]               4403 non-null   float64
 2   RACIBÓRZ-MIEDONIA (150180060) Stan wody [cm]    4403 non-null   float64
 3   BARDO ŚLĄSKIE (250160410) Suma opadów [mm]      4403 non-null   float64
 4   BIERUTÓW (251170270) Suma opadów [mm]           4403 non-null   float64
 5   BOLESŁAWÓW (250160610) Suma opadów [mm]         4403 non-null   float64
 6   BOLKÓW (250160030) Suma opadów [mm]             4403 non-null   float64
 7   BORÓW (250160070) Suma opadów [mm]              4403 non-null   float64
 8   BRZEG (250170050) Suma opadów [mm]              4403 non-null   float64
 9   BRZEG DOLNY (251160230) Suma opadów [mm]        4403 non-null   float64
 10  CHWAŁKOWICE (251160170) Suma opadów [mm]        4403 non-null   float64
 11  GŁOGÓW (151160060) Suma opadów [mm]             4403 non-null   float64
 12  RACIBÓRZ-MIEDONIA (150180060) Suma opadów [mm]  4403 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 447.3 KB

# 3. Train Test Split

# 4. Modelling & Backtests

## 4.1 Baseline

## 4.2 BayesianRidge

### 4.2.1 Past-observed covariates

### 4.2.2 Past-observed covariates + Future-known covariates

## 4.3 Temporal Fusion Transformer

### 4.3.1 Past-observed covariates

### 4.3.2 Past-observed covariates + Future-known covariates

## 4.4 Linear mixed effects

### 4.4.1 Past-observed covariates

### 4.4.2 Past-observed covariates + Future-known covariates

# 5. Save Model